@using OnlineLibrary.Models
@{
    List<FavoriteList> resultList = (List<FavoriteList>)ViewBag.ResultList;
    var accountInfo = ViewBag.AccountInfo;
    List<ActivityHistory> activityList = ViewBag.ActivityList;
    Layout = "_Default";
    MsgObject msg = ViewBag.msg;
}


@section moreCSS {
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <style>
        tr:hover:not(.lated) {
            background: rgba(153,153,153,.2) !important;
        }

        .lated {
            background: rgba(220,40,50,.3);
            color: white;
        }

            .lated:hover {
                color: #1a1a1a;
                background: rgba(220,40,50,.5) !important;
            }
    </style>

}
<div class="main-panel">
    <div class="profile-wrapper">
        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src=@Url.Content(@"~/images/"+(accountInfo.Avatar?? "default_icon.png")) alt="Avatar" title="Change the avatar">
                </div>
            </div>
            <h3>@accountInfo.FirstName @accountInfo.LastName</h3>

            <ul class="list-unstyled user_data">
                <li>
                    <i class="fa fa-map-marker user-profile-icon"></i>&nbsp;@accountInfo.Address
                </li>

                <li>
                    <i class="fa fa-suitcase user-profile-icon"></i>&nbsp;@accountInfo.R.Name
                </li>

                <li class="m-top-xs">
                    <i class="fa fa-envelope user-profile-icon"></i>
                    <a href="@accountInfo.Email" target="_blank">&nbsp;@accountInfo.Email</a>
                </li>
            </ul>

            <a class="btn btn-success" asp-action="User_Modify"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
            <br />



        </div>




        <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="book-tab">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" role="tab" data-toggle="tab" aria-expanded="true">Activities</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" data-toggle="tab" aria-expanded="false">My Favorite List</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content" style="clear: both">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <h2>Borrowing Books</h2>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Act.Number</th>
                                        <th>Book ID</th>
                                        <th>Title</th>
                                        <th>Date Borrowed</th>
                                        <th>ETR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < activityList.Count(); i++)
                                    {
                                        ActivityHistory act = activityList[i];
                                        int? daysLeft = (DateTime.Now - (DateTime)act.BorrowDate).Days - act.B.TitleNavigation.ReturnTypeNavigation.NoOfDay;

                                        <tr @(daysLeft < 0 ? @"class=lated" : "") @(act.ReturnDate != null ? @"style='background: #999999;color: black'" : "")>
                                            <th scope="row">@(i + 1)</th>
                                            <td>@act.Seq</td>
                                            <td>@act.Bid</td>
                                            <td>@act.B.TitleNavigation.Name</td>
                                            <td>@act.BorrowDate</td>
                                            <td>@((daysLeft < 0) ? $@"Late {-daysLeft} day(s)" : $@"{daysLeft} day(s)")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <h2>Fine History</h2>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Act.Num</th>
                                        <th>Book ID</th>
                                        <th>Book Title</th>
                                        <th>Fine Amount</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < activityList.Count(); i++)
                                    {
                                        ActivityHistory act = activityList[i];
                                        for (int j = 0; j < act.FineHistory.Count(); j++)
                                        {
                                            FineHistory fineHist = act.FineHistory.ElementAt(j);
                                            <tr>
                                                <th scope="row">@(i + j + 1)</th>
                                                <td>@act.Seq</td>
                                                <td>@act.Bid</td>
                                                <td>@act.B.TitleNavigation.Name</td>
                                                <td>@fineHist.FineAmount</td>
                                                <td>@fineHist.FineType.FineTypeName</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Publisher</th>
                                        <th>Year</th>
                                        <th>ISBN</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < resultList.Count(); i++)
                                    {
                                        FavoriteList resultE = resultList[i];
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@resultE.TitleId</td>
                                            <td>@resultE.Title.Name @resultE.Title.FullName</td>
                                            <td>@resultE.Title.Author</td>
                                            <td>@resultE.Title.Publisher</td>
                                            <td>@resultE.Title.PublishYear</td>
                                            <td>@resultE.Title.Isbn</td>
                                            <td><a asp-action="Remove_From_Fav" asp-route-titleId="@resultE.TitleId">Remove</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
@section scripts {
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    
}

