@using OnlineLibrary.Models
@{
    var curAcc = ViewBag.CurAcc;
    Title title_info = ViewBag.Title_Info;
    List<Title>
    top_title = (List<Title>
        )ViewBag.Top_View_Title;
    var isRated = ViewBag.IsRated;
    var isAdded = ViewBag.IsAdded;
    Layout = "_Default";
}

@section moreCSS {
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- starRating-->
    <link href="../css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
}
<div class="main-panel">
    <div class="center-wrapper">

        <div class="left-wrapper">

            <div class="book-info">
                <div class="book-illu">
                    <img src=@Url.Content(@"~/images/" + title_info.Illu??"default_book.png")>
                </div>
                <div class="book-main">
                    <div class="book-attr book-year">© @title_info.PublishYear</div>
                    <div class="book-attr book-name">@title_info.Name <br /><small>@(title_info.FullName)</small></div>
                    <div class="book-attr book-author">Authors: @title_info.Author.FirstName @title_info.Author.LastName</div>
                    <div class="book-attr book-rate">
                        @if (curAcc != null)
                        {
                            if (isRated != null)
                            {
                                <input value="@isRated.Rating1" data-size="xs" id="rating-system" class="rating-loading" data-show-clear="false">
                                <small>Avg: @title_info.Rating/@title_info.RatingNo members</small>

                            }
                            else
                            {
                                <input data-size="xs" id="rating-system" class="rating-loading" data-show-clear="false">
                            }
                            <script>
                                        $(document).on('ready', function () {
                                            $('#rating-system').rating({
                                                step: 1,
                                                starCaptions: { 1: 'Poor', 2: 'Lame', 3: 'So-so', 4: 'Good', 5: 'Masterpiece' },
                                                starCaptionClasses: { 1: 'label label-danger', 2: 'label label-warning', 3: 'label label-info', 4: 'label label-primary', 5: 'label label-success' },
                                                clearCaption: '@title_info.Rating/@title_info.RatingNo members'
                                            });

                                        });
                            </script>
                        }
                        else
                        {
                            <input value="@title_info.Rating" data-readonly="true" data-size="xs" id="rating-system" class="rating-loading" data-show-clear="false">
                            <small>Login to rate now!</small>

                        }
                    </div>
                    <div class="book-attr book-rate">
                        @if (curAcc != null)
                        {
                            if (isAdded != null)
                            {

                                <a class="added" asp-action="Get_Fav" asp-route-titleId="-1">Already Added</a>
                            }
                            else
                            {
                                <a class="not-added" asp-action="Add_To_Fav" asp-route-titleId="@title_info.Seq">Add to Favorite</a>
                            }
                        }
                        else
                        {
                            <a class="added" asp-action="Login_member" asp-route-oldPage="Book-detail" asp-route-title="@title_info.Seq">Add to Favorite</a>
                        }
                    </div>
                </div>
            </div>

            <div id="book-tab">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" role="tab" data-toggle="tab" aria-expanded="true">About this Book</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" data-toggle="tab" aria-expanded="false">About the Author</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content" style="clear: both">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <p id="tab1_content">@title_info.Description</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <p>@title_info.Author.Description</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="book-bib">
                <div class="title">
                    <span>Bibliographic Information</span>
                </div>
                <div class="book-bib-com">
                    <span>Book Title</span>
                    <span>@title_info.Name</span>
                </div>
                <div class="book-bib-com">
                    <span>ISBN</span>
                    <span>@title_info.Isbn</span>
                </div>
                <div class="book-bib-com">
                    <span>Author</span>
                    <span>@title_info.Author.FirstName @title_info.Author.LastName</span>
                </div>
                <div class="book-bib-com">
                    <span>Publisher</span>
                    <span>@title_info.Publisher</span>
                </div>
                <div class="book-bib-com">
                    <span>Quantity</span>
                    <div>@title_info.AvailableQuan</div>
                </div>
                <div class="book-bib-com">
                    <span>Return Policy</span>
                    <span>@($"{title_info.ReturnTypeNavigation.NoOfDay}-day Borrow")</span>
                </div>
                <div class="book-bib-com">
                    <span>Rated By</span>
                    <span>@($"{title_info.RatingNo} member(s)")</span>
                </div>
                <div class="book-bib-com">
                    <span>Views</span>
                    <span>@($"{title_info.Views}")</span>
                </div>
                <div class="book-bib-com">
                    <span>Topic</span>
                    <span>
                        @foreach (TitleCategoryDetail catDetail in title_info.TitleCategoryDetail)
                        {
                            <a asp-action="Search" asp-route-searchType="cat" asp-route-catID="@catDetail.CategoryId">@catDetail.Category.Name</a>
                        }
                    </span>
                </div>
            </div>

        </div>

        <div id="top-book" class="x_panel">
            <div class="x_title">
                <h2>HOT TITLES</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (Title title in top_title)
                {
                    <div class="book-info book-info-small">
                        <div class="book-illu">
                            <a asp-route-titleID="@title.Seq" asp-action="Book_Detail_Info">
                                <img src=@Url.Content(@"~/images/" + @title.Illu ?? "default_book.png" )>
                            </a>
                        </div>
                        <div class="book-main">
                            <div class="book-attr book-year">© @title.PublishYear</div>
                            <div class="book-attr book-name small"><a asp-route-titleID="@title.Seq" asp-action="Book_Detail_Info">@title.Name</a></div>
                            <div class="book-attr book-author">Authors: @title.Author.FirstName @title.Author.LastName</div>
                            <div class="book-attr book-rate">Views: @title.Views</div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

</div>


@section scripts {
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- starRating-->
    <script src="../js/star-rating/star-rating.js" type="text/javascript"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script>
        $(document).on('ready', function () {
            $("#rating-system").rating().on("rating.change", function (event, value, caption) {
                window.location.href = ('./Rating?titleSeq='+@title_info.Seq+'&yourRate=') + value;
            });
        });

    </script>

    
}
