@using OnlineLibrary.Models
@{ 
    var title_info = ViewBag.Title_Info?[0];
    List<Title> top_title = (List<Title>) ViewBag.Top_View_Title;
}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main Page</title>
  <link href="../css/index-style-mobile.css" rel="stylesheet" media="screen and (max-width: 799px)" />
  <link href="../css/index-style.css" media="screen and (min-width: 800px)" rel="stylesheet" />
  <!-- Bootstrap -->
  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="logo"></div>
    <div class="login-right">
      <a href="#"><b>Login / Register</b></a>
    </div>
    <div class="menu-bar">
      <ul>
        <li class="menu-child"><a href="#">Publications</a></li>
        <li class="menu-child"><a href="#">Browse By Subject</a></li>
        <li class="menu-child"><a href="#">Resources</a></li>
        <li class="menu-child"><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>

  <!--CONTENT-->
  <div id="main-content">
    <div class="main-panel">
      <div class="center-wrapper">

        <div class="left-wrapper">

          <div class="book-info">
            <div class="book-illu">
              <img src=@Url.Content(@"~/images/"+title_info.Illu??"default_book.png")>
            </div>
            <div class="book-main">
              <div class="book-attr book-year">© @title_info.PublishYear</div>
              <div class="book-attr book-name">@title_info.Name <br /><small>@(title_info.FullName)</small></div>
              <div class="book-attr book-author">Authors: @title_info.Author.FirstName @title_info.Author.LastName</div>
              <div class="book-attr book-rate"><input name="rating-system" data-size="xs" id="rating-system" hoverChangeStars="true" showCaption=false class="rating" min="1" max="5" data-step="1"></div>
              <div class="book-attr book-rate"><a asp-action="Add_To_Fav" asp-route-titleId="@title_info.Seq">Add to Favorite</a></div>
            </div>
          </div>

          <div id="book-tab">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" role="tab" data-toggle="tab" aria-expanded="true">About this Book</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab"  data-toggle="tab" aria-expanded="false">About the Author</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content" style="clear: both">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <p id="tab1_content">@title_info.Description</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <p>@title_info.Author.Description</p>
                </div>
              </div>
            </div>
          </div>

          <div class="book-bib">
            <div class="title">
              <span>Bibliographic Information</span>
            </div>
            <div class="book-bib-com">
              <span>Book Title</span>
              <span>@title_info.Name</span>
            </div>
            <div class="book-bib-com">
              <span>ISBN</span>
              <span>@title_info.Isbn</span>
            </div>
            <div class="book-bib-com">
              <span>Author</span>
              <span>@title_info.Author.FirstName @title_info.Author.LastName</span>
            </div>
            <div class="book-bib-com">
              <span>Publisher</span>
              <span>@title_info.Publisher</span>
            </div>
            <div class="book-bib-com">
              <span>Topic</span>
              <span class="span-list">
                  @foreach (TitleCategoryDetail catDetail in title_info.TitleCategoryDetail)
                  {
                    <a asp-action="Search" asp-route-searchType="cat" asp-route-catID="@catDetail.CategoryId">@catDetail.Category.Name</a>
                  }
          </span>
            </div>
            <div class="book-bib-com">
              <span>Status</span>
              <div class="status-tag active">Còn sách</div>
            </div>
          </div>

        </div>

        <div id="top-book" class="x_panel">
          <div class="x_title">
            <h2>HOT TITLES</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            @foreach (Title title in top_title)
            {
                <div class="book-info book-info-small">
                    <div class="book-illu">
                        <img src=@Url.Content(@"~/images/"+@title.Illu??"default_book.png")>
                    </div>
                    <div class="book-main">
                        <div class="book-attr book-year">© @title.PublishYear</div>
                        <div class="book-attr book-name small"><a asp-route-titleID="@title.Seq" asp-action="Detail_Info">@title.Name</a></div>
                        <div class="book-attr book-author">Authors: @title.Author</div>
                        <div class="book-attr book-rate">Views: @title.Views</div>
                    </div>
                </div>
            }
          </div>
        </div>

      </div>

    </div>
  </div>
  <!--FOOTER-->
  <div id="footer-upper">
    <div class="upper-half">
      <div class="group-list">
        <div>Library A-Z</div>
        <ul>
          <li>Apple & iOS</li>
          <li>Game Development</li>
          <li>Software Development</li>
          <li>Enterprise Software</li>
          <li>Machine Learning</li>
        </ul>
      </div>

      <div class="group-list">
        <div>Services</div>
        <ul>
          <li>About Us</li>
          <li>Academics</li>
          <li>Scholarship</li>
          <li>Source Code</li>
          <li>Events</li>
        </ul>
      </div>
    </div>
    <div class="upper-half">
      <div class="group-list">
        <div>Linked page</div>
        <ul>
          <li>FPT Uniap</li>
          <li>FPT LMS</li>
          <li>FPT University</li>
          <li>Chungta.vn</li>
        </ul>
      </div>


      <div class="group-list">
        <div>&nbsp;</div>
        <ul>
          <li><img src="..\images\visa.png" /></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="mark-logo"></div>
    <div class="e-footer">© 2017 CocLib</div>
    <div class="e-footer">Terms & Condition</div>
    <div class="e-footer">Find us</div>
  </div>
</body>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

</html>
