@using OnlineLibrary.Models
@{
    List<Title> titleList = (List<Title>)ViewBag.Title;
    List<Category> tagList = (List<Category>)ViewBag.Tag;
    List<Title> newestTitleList = (List<Title>)ViewBag.NewestTitle;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link href="~/css/index-style-mobile.css" rel="stylesheet" media="screen and (max-width: 799px)" />
    <link href="~/css/index-style.css" media="screen and (min-width: 800px)" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div class="logo"></div>
        <div class="login-right">
            <a href="#"><b>Login / Register</b></a>
        </div>
        <div class="menu-bar">
            <ul>
                <li class="menu-child"><a href="#">Publications</a></li>
                <li class="menu-child"><a href="#">Browse By Subject</a></li>
                <li class="menu-child"><a href="#">Resources</a></li>
                <li class="menu-child"><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
    <div id="banner-wrapper">
        <div class="banner" id="background-1"></div>
    </div>

    <!--LEFT WIDGET-->
    <div id="left-wig">
        <div class="search-box" id="sb-1">
            <span>SEARCH</span>
            <div class="search-box" id="sb-2">
                <form>
                    <input type="text" size="25" />
                    <a href="#">
                        <div class="go-btn"></div>
                    </a>
                    <div class="radio">
                        <input type="radio" name="searchType"> All content
                        <input type="radio" name="searchType"> Publication titles
                    </div>
                    <span><a href="#">Advanced search</a></span>
                </form>
            </div>
        </div>
    </div>
    <!--CONTENT-->
    <!--LEFT WIDGET-->
    <div id="main-content">
        <div class="main-panel">
            <div class="title">
                <span>Highlights</span>
            </div>
            <div class="book-list">

                @for (int i = 0; i < 4; i++)
                {
                    Title title = titleList[i];
                        <div class="book">
                            <div class="book-attr book-illu">
                                <a asp-route-titleID="@title.Seq" asp-action="Detail_Info"><img src=@Url.Content("~/images/"+title.Illu??"default_book.png")></a>
                            </div>
                            <div class="book-attr book-name">@title.Name</div>
                            <div class="book-attr book-rate">Rating: @title.Rating/5</div>
                        </div>
                        }
            </div>
        </div>

        <div class="main-panel">
            <div class="title">
                <span>Browse our categories</span>
            </div>
            <div id="tag-list">
                @foreach (Category cat in tagList)
                {
                    <a asp-action="Search" asp-route-searchType="cat" asp-route-catID="@cat.Seq" class="tag-card" >@cat.Name</a>

                }

            </div>
        </div>


        <div class="main-panel">
            <div class="title">
                <span>Brand New</span>
            </div>
            <div class="book-list">
                @for (int i = 0; i < 4; i++)
                {
                    Title title = newestTitleList.ElementAt(i);
                        <div class="book">
                            <div class="book-attr book-illu">
                                <a asp-route-titleID="@title.Seq" asp-action="Detail_Info"><img src=@Url.Content("~/images/"+title.Illu??"default_book.png")></a>
</div>
                            <div class="book-attr book-name">@title.Name</div>
                            <div class="book-attr book-rate">Rating: @title.Rating/5</div>
                        </div>
                        }
            </div>
        </div>


    </div>
    <!--FOOTER-->
    <div id="footer-upper">
        <div class="upper-half">
            <div class="group-list">
                <div>Library A-Z</div>
                <ul>
                    <li>Apple & iOS</li>
                    <li>Game Development</li>
                    <li>Software Development</li>
                    <li>Enterprise Software</li>
                    <li>Machine Learning</li>
                </ul>
            </div>

            <div class="group-list">
                <div>Services</div>
                <ul>
                    <li>About Us</li>
                    <li>Academics</li>
                    <li>Scholarship</li>
                    <li>Source Code</li>
                    <li>Events</li>
                </ul>
            </div>
        </div>
        <div class="upper-half">
            <div class="group-list">
                <div>Linked page</div>
                <ul>
                    <li>FPT Uniap</li>
                    <li>FPT LMS</li>
                    <li>FPT University</li>
                    <li>Chungta.vn</li>
                </ul>
            </div>


            <div class="group-list">
                <div>&nbsp;</div>
                <ul>
                    <li><img src="~/images/visa.png" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="mark-logo"></div>
        <div class="e-footer">© 2017 CocLib</div>
        <div class="e-footer">Terms & Condition</div>
        <div class="e-footer">Find us</div>
        <div class="e-footer"><a asp-action="Login_admin">Admin Panel</a></div>
    </div>
</body>

</html>
