@using OnlineLibrary.Models
@{
    List<Title> titleList = (List<Title>)ViewBag.Title;
    List<Category> tagList = (List<Category>)ViewBag.Tag;
    List<Title> newestTitleList = (List<Title>)ViewBag.NewestTitle;
    Layout = "_Default";
}

@section banner {
    <div id="banner-wrapper">
        <div class="banner" id="background-1"></div>
    </div>
}
<!--CONTENT-->
<div id="main-content">
    <div class="main-panel">
        <div class="title">
            <span>Highlights</span>
        </div>
        <div class="book-list">

            @for (int i = 0; i < 4; i++)
            {
                Title title = titleList[i];
                <div class="book">
                    <div class="book-attr book-illu">
                        <a asp-route-titleID="@title.Seq" asp-action="Book_Detail_Info"><img src=@Url.Content("~/images/"+title.Illu??"default_book.png")></a>
                    </div>
                    <div class="book-attr book-name">@title.Name</div>
                    <div class="book-attr book-rate">Rating: @title.Rating/5</div>
                </div>
            }
        </div>
    </div>

    <div class="main-panel">
        <div class="title">
            <span>Browse our categories</span>
        </div>
        <div id="tag-list">
            @foreach (Category cat in tagList)
            {
                <a asp-action="Search" asp-route-searchType="cat" asp-route-catID="@cat.Seq" class="tag-card">@cat.Name</a>

            }

        </div>
    </div>


    <div class="main-panel">
        <div class="title">
            <span>Brand New</span>
        </div>
        <div class="book-list">
            @for (int i = 0; i < 4; i++)
            {
                Title title = newestTitleList.ElementAt(i);
                <div class="book">
                    <div class="book-attr book-illu">
                        <a asp-route-titleID="@title.Seq" asp-action="Book_Detail_Info"><img src=@Url.Content("~/images/"+title.Illu??"default_book.png")></a>
                    </div>
                    <div class="book-attr book-name">@title.Name</div>
                    <div class="book-attr book-rate">Rating: @title.Rating/5</div>
                </div>
            }
        </div>
    </div>


</div>


