@using OnlineLibrary.Models
@using Microsoft.AspNetCore.Http;
@{
    var list = ViewBag.result;
    string searchValue = "all";
    string lastSearchValue = Context.Session.GetString("lastSearchValue");
    Layout = "_Default-dashboard";
}

<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Member Borrow List</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <form asp-action="SearchMemberBorrowList">
                        <div class="input-group">
                            <input type="text" name="MID" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <ul class="nav navbar-right panel_toolbox" style="color: black;">
                    <h4>Today is: @DateTime.Now.ToString("dd/MM/yyyy")</h4>
                </ul>
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                @{ int i = 1;}
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table" style="color: black;">
                            <thead>
                                <tr style="font-weight: 700;">
                                    <th>No.</th>
                                    <th>Member's ID</th>
                                    <th>Full Name</th>
                                    <th>Sex</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (IGrouping<string, ActivityHistory> key in list)
                                                {
                                                <tr style="font-weight: 700;">
                                                    <td>@i</td>
                                                    <td>@key.Key</td>
                                                    @foreach (ActivityHistory ah in key)
                                                        {
                                                        <td>@ah.M.FirstName @ah.M.LastName</td>
                                                        <td>@ah.M.Sex</td>
                                                        <td>@ah.M.R.Name</td>
                                                            break;
                                                        }
                                                    <td>
                                                        <a class="btn btn-primary" asp-action="ShowBorrowedBooks" asp-route-MID="@key.Key" asp-route-lsv="@lastSearchValue">View borrowed books</a>
                                                    </td>
                                                </tr>
                                                    i++;
                                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- footer content -->

