@using OnlineLibrary.Models
@using Microsoft.AspNetCore.Http;
@model OnlineLibrary.Models.Account
@{
    List<Account> list = ViewBag.result;
    List<Role> roles = ViewBag.roles;
    Account accountBeingViewed = ViewBag.accountBeingViewed;
    Dictionary<string, string> genders = new Dictionary<string, string> { { "M", "Male" }, { "F", "Female" }, { "L", "Lesbian" }, { "G", "Gay" }, { "B", "Bisexual" }, { "T", "Transgender" } };
    string lastSearchValue = Context.Session.GetString("lastSearchValue");
    UserErrorObject ueobj = Context.Session.Get<UserErrorObject>("UserErrorObject");
    Layout = "_Default-dashboard";
}

<!-- page content -->
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>All Users</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <form asp-action="SearchUser">
                            <div class="input-group">
                                <input type="text" name="MID" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Go</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        @{
            if (ueobj != null)
            {
                    <div class="col-md-12 col-sm-12 col-xs-12 alert alert-info alert-dismissible fade in">
                        @if (!ueobj.IdDuplicated.Equals(""))
                                {
                                <span style="color: white;"><strong>@ueobj.IdDuplicated</strong></span>
                                }
                        @if (!ueobj.IdNotFound.Equals(""))
                                {
                                <span style="color: white;"><strong>@ueobj.IdNotFound</strong></span>
                                }
                    </div>
                        }
        }
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <ul class="nav navbar-right panel_toolbox" style="color: black;">
                        <h4>Today is: @DateTime.Now.ToString("dd/MM/yyyy")</h4>
                    </ul>
                    <div class="x_title">

                        <div class="clearfix"></div>
                    </div>
                    @{ int i = 1;}
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table" style="color: black;">
                                <thead>
                                    <tr style="font-weight: 700;">
                                        <th>No.</th>
                                        <th>Member's ID</th>
                                        <th>Full Name</th>
                                        <th>Sex</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Account acc in list)
                                                {
                                                <tr style="font-weight: 700;">
                                                    <td>@i</td>
                                                    <td>
                                                        @acc.Id
                                                        @if (acc.Status == false)
                                                            {
                                                        <label class="label label-danger">Deactivated</label>
                                                            }
                                                    </td>
                                                    <td>@acc.FirstName @acc.LastName</td>
                                                    <td>@acc.Sex</td>
                                                    <td>@acc.R.Name</td>
                                                    <td>
                                                        <a class="btn btn-primary test" asp-action="ViewUser" asp-route-MID="@acc.Id" asp-route-lsv="@lastSearchValue">View info</a>
                                                    </td>
                                                </tr>
                                                    i++;
                                                }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            @if (list.Count != 0)
                        {
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>User detail</h2>
                                    @if (accountBeingViewed != null)
                                        {
                                    @if (accountBeingViewed.Status.Value)
                                            {
                                    <h3 class="pull-right"><span class="label label-success" style="color: white;">This user is activated</span></h3>
                                            }
                                            else
                                            {
                                    <h3 class="pull-right"><span class="label label-danger" style="color: white;">This user is deactivated</span></h3>
                                            }
                                        }
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="edit">
                                    <br />
                                    <form class="form-horizontal form-label-left input_mask" asp-action="UserCRUD">
                                        @if (accountBeingViewed != null)
                                            {
                                        <input type="hidden" asp-for="Seq" value="@accountBeingViewed.Seq" />
                                        <input type="hidden" asp-for="Status" value="@accountBeingViewed.Status.Value" />
                                            }
                                        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="Id" placeholder="MID" value="@accountBeingViewed.Id" readonly />
                                                }
                                                else
                                                {
                                            <input type="text" class="form-control has-feedback-left validate-elem" asp-for="Id" placeholder="MID" />
                                                }
                                            <span class="fa fa-id-card form-control-feedback left" aria-hidden="true"></span>
                                        </div>


                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="FirstName" placeholder="First Name" value="@accountBeingViewed.FirstName">
                                                }
                                                else
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="FirstName" placeholder="First Name">
                                                }
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="clearfix"></div><br />

                                        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="LastName" placeholder="Last Name" value="@accountBeingViewed.LastName">
                                                }
                                                else
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="LastName" placeholder="Last Name">
                                                }
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <select class="form-control has-feedback-left validate-elem" asp-for="Sex">
                                                @if (accountBeingViewed != null)
                                                    {
                                                <option value="">Sex (LGBT supported)</option>
                                                @foreach (KeyValuePair<string, string> gender in genders)
                                                        {
                                                            if (accountBeingViewed.Sex.Equals(gender.Key))
                                                            {
                                                <option value="@gender.Key" selected="selected">@gender.Value</option>
                                                            }
                                                            else
                                                            {
                                                <option value="@gender.Key">@gender.Value</option>
                                                            }

                                                        }
                                                    }
                                                    else
                                                    {
                                                <option value="">Sex (LGBT supported)</option>
                                                @foreach (KeyValuePair<string, string> gender in genders)
                                                        {
                                                <option value="@gender.Key">@gender.Value</option>
                                                        }
                                                    }
                                            </select>
                                            <span class="fa fa-venus-mars form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="clearfix"></div><br />

                                        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="Password" placeholder="Password" value="@accountBeingViewed.Password">
                                                }
                                                else
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="Password" placeholder="Password">
                                                }
                                            <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                        </div>


                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <div class="input-group date" id="myDatepicker">
                                                <input class="form-control" type="text" readonly="readonly" asp-for="Dob" value="@accountBeingViewed.Dob.Value.ToString("dd/MM/yyyy")">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                                }
                                                else
                                                {
                                            <div class="input-group date" id="myDatepicker">
                                                <input class="form-control validate-elem" type="text" readonly="readonly" placeholder="DOB" asp-for="Dob">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                                }
                                        </div>

                                        <div class="clearfix"></div><br />

                                        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="email" class="form-control has-feedback-left" asp-for="Email" placeholder="Email" value="@accountBeingViewed.Email">
                                                }
                                                else
                                                {
                                            <input type="email" class="form-control has-feedback-left" asp-for="Email" placeholder="Email">
                                                }
                                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="text" pattern="^[0-9]\d*$" title="Please input only numbers" class="form-control has-feedback-left" asp-for="Phone" placeholder="Phone" value="@accountBeingViewed.Phone">
                                                }
                                                else
                                                {
                                            <input type="text" pattern="^[0-9]\d*$" title="Please input only numbers" class="form-control has-feedback-left" asp-for="Phone" placeholder="Phone">
                                                }
                                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="clearfix"></div><br />

                                        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                                            @if (accountBeingViewed != null)
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="Address" placeholder="Address" value="@accountBeingViewed.Address">
                                                }
                                                else
                                                {
                                            <input type="text" class="form-control has-feedback-left" asp-for="Address" placeholder="Address">
                                                }
                                            <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <select class="form-control has-feedback-left validate-elem" asp-for="Rid">
                                                @if (accountBeingViewed != null)
                                                    {
                                                <option value="">Role</option>
                                                @foreach (Role r in roles)
                                                        {
                                                            if (accountBeingViewed.Rid.Equals(r.Id))
                                                            {
                                                <option value="@r.Id" selected="selected">@r.Name</option>
                                                            }
                                                            else
                                                            {
                                                <option value="@r.Id">@r.Name</option>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                <option value="">Role</option>
                                                @foreach (Role r in roles)
                                                        {
                                                <option value="@r.Id">@r.Name</option>
                                                        }
                                                    }
                                            </select>
                                            <span class="fa fa-users form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div>
                                                <button type="submit" class="btn btn-success btnValidate" name="btnAction" value="create">Create user</button>
                                                <button type="submit" class="btn btn-warning btnValidate" name="btnAction" value="update">Update user</button>
                                                <input type="button" class="btn btn-info" onclick="blank_form()" value="Reset" />
                                                <button class="btn btn-danger btnValidate" type="submit" name="btnAction" value="deactivate">Deactivate user</button>
                                                <button class="btn btn-primary btnValidate" type="submit" name="btnAction" value="activate">Activate user</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        }
                        @*else
                        {
                        <div class="alert alert-info alert-dismissible fade in">
                            <strong>Nothing to show</strong>
                        </div>
                        }*@
        </div>
    </div>

<!--Reset the user error object-->
@{
    Context.Session.Set<UserErrorObject>("UserErrorObject", null);
}
<!-- /page content -->

@section scripts{
    @*<!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>*@
    <!--moment-->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <!-- bootstrap-datetimepicker-->
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
    <script>
        $('#myDatepicker').datetimepicker({
            ignoreReadonly: true,
            allowInputToggle: true,
            format: 'DD/MM/YYYY'
        });

        $(window).load(function () {


                var empty = false;
                $('.validate-elem').each(function () {
                    if ($(this).val() == '') {
                        empty = true;
                    }
                });

                if (empty) {
                    $('.btnValidate').prop('disabled', true);
                } else {
                    $('.btnValidate').prop('disabled', false);
                }


            @if(accountBeingViewed != null)
            {
                @:$("html, body").animate({ scrollTop: $(document).height() - $(window).height() });
            }
        });

        $('.validate-elem').on('keyup change', function () {
            var empty = false;
            $('.validate-elem').each(function () {
                if ($(this).val() == '') {
                    empty = true;
                }
            });

            if (empty) {
                $('.btnValidate').prop('disabled', true);
            } else {
                $('.btnValidate').prop('disabled', false);
            }
        });

        function blank_form() {
            document.getElementById("Id").value = "";
            document.getElementById("Id").removeAttribute("readonly");
            document.getElementById("FirstName").value = "";
            document.getElementById("LastName").value = "";
            document.getElementById("Password").value = "";
            document.getElementById("Dob").value = "";
            document.getElementById("Phone").value = "";
            document.getElementById("Email").value = "";
            document.getElementById("Address").value = "";
            document.getElementById("Rid").selectedIndex = 0;
            document.getElementById("Sex").selectedIndex = 0;

            var empty = false;
            $('.validate-elem').each(function () {
                if ($(this).val() == '') {
                    empty = true;
                }
            });

            if (empty) {
                $('.btnValidate').prop('disabled', true);
            } else {
                $('.btnValidate').prop('disabled', false);
            }
        }





    </script>
}