@using OnlineLibrary.Models
@using Microsoft.AspNetCore.Http;
@{
    List<ActivityHistory> list = ViewBag.result;
    Account acc = ViewBag.account;
    string lastSearchValue = Context.Session.GetString("lastSearchValue");
    Layout = "_Default-dashboard";
}

<!-- page content -->
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@acc.FirstName @acc.LastName's Borrowed History</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <ul class="nav navbar-right panel_toolbox" style="color: black;">
                    <h4>Today is: @DateTime.Now.ToString("dd/MM/yyyy")</h4>
                </ul>
                <div class="x_title">
                    <a asp-action="SearchMemberBorrowList" asp-route-MID="@lastSearchValue" class="btn btn-danger">Go back to member borrow list</a>
                    <a asp-action="ShowBorrowedBooks" asp-route-MID="@acc.Id" asp-route-lsv="@lastSearchValue" class="btn btn-primary">View @acc.LastName's borrowing books</a>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        @if (list.Count != 0)
                                        {
                                        <table class="table" style="color: black;">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Book's ID</th>
                                                    <th>Book's Name</th>
                                                    <th>Borrow Date</th>
                                                    <th>Return Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                        int i = 1;
                                                    @foreach (ActivityHistory ah in list)
                                                        {
                                                    <tr style="font-weight: 700;">
                                                        <td>@i</td>
                                                        <td>@ah.B.Id</td>
                                                        <td>@ah.B.TitleNavigation.Name</td>
                                                        <td>@ah.BorrowDate.Value.ToString("dd/MM/yyyy")</td>
                                                        <td>@ah.ReturnDate.Value.ToString("dd/MM/yyyy")</td>
                                                    </tr>
                                                            i++;
                                                        }
                                                }
                                            </tbody>
                                        </table>
                                                        }
                                                        else
                                                        {
                                        <div class="alert alert-info alert-dismissible fade in" style="color: #2a2a2a;">
                                            <strong>This user doesn't have any borrowed history</strong>
                                        </div>
                                                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@section scripts{
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
}
